/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: rgb(128,128,0);
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: rgb(40, 93, 52);
    opacity: 0.8;
}
#gridstructure {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 200px 200px 200px;
    height: 750px;
    overflow: auto;
}
#box1 {
    border-radius: 25px;
    background-color: rgb(40, 93, 52);
    grid-row: 1/8;
    grid-column: 1;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    opacity: 0.8;
    margin-left: 70px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 300px;

}

#box2 {
    border-radius: 25px;
    background-color: rgb(40, 93, 52);
    grid-row: 1/8;
    grid-column: 7;
    clip-path: polygon(0 75%, 25% 100%, 100% 100%, 100% 0%, 0% 0);
    opacity: 0.8;
    margin-right: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 300px;
    overflow: auto;


}
#box3 {
    border-radius: 25px;
    background-color: rgb(40, 93, 52);
    grid-row: 1/8;
    grid-column: 4;
    width: 700px;
    opacity: 0.8;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: auto;
}