html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.delButton{
    background-color: red;
    border: 1px solid black;
    box-shadow: grey 1px 1px;
    color:white;
}
.updateButton {
    background-color: green;
    border: 1px solid black;
    box-shadow: grey 1px 1px;
    color: white
}
.linkedText{
    color: white;
    background-color: green;
    text-decoration: none;
}
.linkedText:hover {
    color: white;
    background-color: green;
    text-decoration: none;
}
.h4Hire{
    text-decoration: underline;
}