@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We will not keep anything private, if we can blackmail you from buying some shady services we have instructed some of our frilancing contracters to set up video and audio recording decives.</p>
<p>Feel free you use our website in a free and (not very) anonymous, we dont use VPN</p>